# Node
node_modules/

# Build
/client/dist/
/client/build/
/server/dist/
/server/build/
/ml/dist/

# Logs
*.log

# Env
.env
.env.*
/client/.env*
/server/.env*
/ml/.env*

# IDE
.vscode/
.idea/
.DS_Store 